*
{
    padding: 0px;
    margin:0px;

}

body
{
    background: #1c1c1c;
    text-align: center;
}

canvas
{
    opacity:1;
    background: skyblue;
    box-shadow: 20px 20px 50px #1c1c1c;


    -webkit-transition: -webkit-transform 1s;

}

canvas:hover
{
    width:102px;
    height: 99px;
    opacity: 0.5;
}

#canvasDiv
{
    margin: 150px auto 40px;
}

#reloadButton
{
    text-decoration: none;
    color: white;
    font: 20px tahoma;
    text-shadow: 5px 5px 30px white;
}

#reloadButton:hover
{
    font: 50px tahoma;
    opacity:0.7;
}
